{% extends 'search.html' %}

{% block content %}
    <div>
        <input id="btnAdd" type="button" value="新建订单" class="btn btn-primary">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建订单</h4>
                </div>
                <div class="modal-body">
                    <form id="formAdd">
                        <div class="clearfix">
                            {% for obj in form %}
                                <div class="col-xs-6">
                                    <div class="form-group" style="position: relative;margin-bottom: 25px">
                                        <label>{{ obj.label }}</label>
                                        {{ obj }}
                                        <span class="error-msg" style="color: red; position: absolute;"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button id="btnSave" type="button" class="btn btn-primary">保 存</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            bindBtnAddEvent();
            bindBtnSaveEvent();
        })

        function bindBtnAddEvent() {
            $("#btnAdd").click(function () {
                // 点击新建按钮，显示对话框
                $('#newOrder').modal('show');
            });
        }

        function bindBtnSaveEvent() {
            $("#btnSave").click(function () {
                $('.error-msg').empty();
                $.ajax({
                    url: "/order/add/",
                    type: "post",
                    data: $('#formAdd').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        // console.log(res)
                        if (res.status) {
                            alert("创建成功");
                        } else {
                            $.each(res.error, function (k, v) {
                                $('#id_' + k).next().text(v[0]);
                            })
                        }
                    }
                })
            });
        }

    </script>
{% endblock %}