{% extends 'layout.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">新建任务表单</div>
        <div class="panel-body">
            <form id="formAdd">
                <div class="clearfix">
                    {% for obj in form %}
                        <div class="col-xs-6">
                            <div class="form-group" style="position: relative;margin-bottom: 25px">
                                <label>{{ obj.label }}</label>
                                {{ obj }}
                                <span class="error-msg" style="color: red; position: absolute;"></span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-xs-12">
                        <button id="btnAdd" type="button" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            已有任务
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>任务名称</th>
                <th>任务级别</th>
                <th>任务详情</th>
                <th>指派给</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.get_level_display }}</td>
                    <td>{{ obj.detail }}</td>
                    <td>{{ obj.user }}</td>
                    <!-- 编辑操作 -->
                    <td>
                        <a class="btn btn-primary btn-xs" href="#">编辑</a>
                        <a class="btn btn-danger btn-xs" href="#">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination" style="float: left;">
            {{ page_number }}
        </ul>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            // 页面框架加载完成后代码自动执行
            bindBtnAddEvent();

        })

        function bindBtnAddEvent() {
            // 捕获点击按钮
            $("#btnAdd").click(function () {
                // 清空上一次提交的错误信息
                $(".error-msg").empty();

                $.ajax({
                    url: '/task/add/',
                    type: "post",
                    data: $("#formAdd").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                            // 用JS刷新页面，显示添加成功后的数据
                            location.reload();
                        } else {
                            $.each(res.error, function (k, v) {
                                // console.log(k, v);
                                $("#id_" + k).next().text(v[0]);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}